body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #ffe0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

input, button {
    margin: 10px 0;
    padding: 10px;
    width: 90%;
    border: none;
    border-radius: 5px;
}

input {
    border: 1px solid #ccc;
}

button {
    background-color: #f673d7;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #ee5dc0;
}

#planContainer, #systemsContainer {
    text-align: left;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px 0;
    max-height: 200px;
    overflow-y: auto;
}
